{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>Home Page</title>
{% endblock title %}


{% block body %}
<!-- heading  -->
<div class="container my-3 p-2 rounded-3 shadow text-light text-center bg-secondary">

    <h1>All Blogs</h1>

</div>

<!-- all blog model  -->

{% for blog in blogs %}

<div class="conatiner my-3 p-5 shadow">

    <h2>{{blog.title}}</h2>
    <p class="lead">{{blog.desc}}</p>
    <p class="text-end">{{blog.created_at}}</p>

</div>

{% endfor %}

{% endblock body %}